.container {
  width: 100%;
  height: 100vh;
  padding-bottom: 2rem;
  background: #ffffff;
  display: grid;
  grid-template-rows: 1fr 7fr 3.5fr;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.navbar {
  background-color: #e8e8e8;
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2.5rem;
  background-color: #e8e8e8;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  position: relative;
}

.textArea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem;
  background-color: #ffffff;
  color: #cccccc;
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  resize: none;
}

.textBtn {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  border: none;
  cursor: pointer;
}

.notesAvatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-weight: 500;
  color: white;
  margin-right: 12px;
}

.notesTitle {
  font-weight: 500;
  font-size: 1rem;
  color: black;
}

.noteContainer {
  display: grid;
  padding: 2rem 5rem;
  grid-template-columns: 1fr 7fr;
  font-weight: 400;
  letter-spacing: 0.2px;
  gap: 1rem;
}

@media (max-width: 767px) {
  .container {
    padding-bottom: 0;
    grid-template-rows: 1fr 8fr 2.5fr;
  }
  .textContainer {
    border-radius: 0;
    padding: 1rem;
  }
  .textBtn {
    scale: 0.75;
    bottom: 0.75rem;
    right: 0.75rem;
  }
  .noteContainer {
    padding: 1.5rem;
    grid-template-columns: 2.5fr 5.5fr;
    font-size: 0.85rem;
    letter-spacing: 0;
    gap: 0.5rem;
  }
}

@media (min-width: 767px) and (max-width: 1350px) {
  .textBtn {
    scale: 0.75;
    bottom: 0.75rem;
    right: 0.75rem;
  }
  .noteContainer {
    padding: 1.4rem 3rem;
    grid-template-columns: 2.5fr 5.5fr;
  }
}
